APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file

# QUEUE_CONNECTION=sync
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis

SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_DRIVER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null

# 使用支持 ESMTP 的 SMTP 服务器发送邮件 「可以不更改」
MAIL_DRIVER=smtp
# QQ 邮箱的 SMTP 服务器地址，必须为此值 「不需要更改」
MAIL_HOST=smtp.qq.com
# QQ 邮箱的 SMTP 服务器端口，必须为此值 「不需要更改」
MAIL_PORT=25
# 请将此值换为你的 QQ + @qq.com 「需要更改为你自己的 QQ 邮箱」
MAIL_USERNAME=xxxxxxxxxxxxxx@qq.com
# 密码是我们第一步拿到的授权码 「需要更改」
MAIL_PASSWORD=xxxxxxxxx
# 加密类型，选项 null 表示不使用任何加密，其他选项还有 ssl，这里我们使用 tls 即可。「可以不更改」
MAIL_ENCRYPTION=tls
# 此值必须同 MAIL_USERNAME 一致 「需要更改为你自己的 QQ 邮箱」
MAIL_FROM_ADDRESS=xxxxxxxxxxxxxx@qq.com
# 用来作为邮件的发送者名称 「需要更改为你自己的名称」
MAIL_FROM_NAME=番茄炖土豆的个人博客

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# 百度翻译 APP ID
BAIDU_TRANSLATE_APPID=
# 百度翻译密钥 KEY
BAIDU_TRANSLATE_KEY=

# Github Client ID
GITHUB_CLIENT_ID=
# Github Client Secret
GITHUB_CLIENT_SECRET=