// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// markdown editor 「simplemde」
@import "~simplemde/dist/simplemde.min.css";
// highlight.js 语法高亮工具
@import "~highlight.js/scss/atom-one-dark";

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* header */

a:hover {
    text-decoration: none;
}

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
  margin-top: 0px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* Article Index Page */
.articles-index-page, .categories-show-page, .root-page {
  .article-list {
    .nav>li>a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }

    a {
      color: #444444;
    }

    .meta {
      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }
    }

    .badge {
      background-color: #d8d8d8;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

/* 文章搜索框 */
#articleSearch {
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: 500rem;
  padding: 4px;

  .article-search-input {
    border: unset;
    margin: 0;
    padding: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    height: 20px;
    line-height: 30px;
    font-family: Lato,Helvetica,Neue;
    padding: .67861429rem 1em;
    color: rgba(0,0,0,.5);
    box-shadow: none;
    background: unset;
  }

  .article-search-btn {
    height: 20px;
    margin: 0 4px;
    padding: 0;
    color: rgba(0, 0, 0, .5);
  }

}

/* Add container and footer space */
#app > div.container {
  margin-bottom: 100px;
}

.simditor-body, .article-show-body img {
   max-width:100%;
 }

/* Topic Show Page */

@import "article_body";

@import "article_show";

.articles-show-page {

    .card {
        padding: 15px;

        h1 {
            margin: 0.4em auto 0.6em;
            font-size: 28px;
            line-height: 38px;
        }
    }
}

/* 回复列表 */

.topic-reply {
    a {
        color: inherit;
    }

    .meta {
        font-size: .9em;
        color: #b3b3b3;
    }
}

/* 消息通知徽章 */
.notification-badge {
  .badge {
    font-size: 12px;
    margin-top: 14px;
  }

  .badge-secondary {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}

/* 用户中心显示统计数据 */
.aboutUserTotal {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        text-align: center;
        width: 33%;
        border-left: 1px solid #eee;
        color: #33383c;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: #337ab7;
        }
    }
    strong {
        display: block;
        font-size: 1.2em;
        color: black;
    }
}
